.blogsList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.heading {
    font-size: 35px;
    color: rgba(41, 23, 157, 0.71);
    font-weight: bold;
    margin: 3rem 0 1rem 2rem
}

.paragraph {
    margin: 1rem 0 3rem 2rem ;
    font-size: 18px;
}

.navLink {
    text-decoration: none;
    color: rgba(14, 13, 13, 0.95);
    font-weight: bold;
    font-size: 22px;
    transition: 0.5s;
    margin-top: 1rem;
}

.navLink:hover {
    color: rebeccapurple;
}
