.card {
    padding: 1rem;
    background-color: rgba(205, 204, 255, 0.71);
    border-radius: 5px;
}

.heading {
    font-size: 25px;
    color: rgba(41, 23, 157, 0.71);
    font-weight: bold;
}

.content {
    margin-top: 1rem;
    font-size: 18px;
    color: black;
}

.pill {
    display: inline-block;
    padding: 4px 15px;
    background-color: rgba(41, 23, 157, 0.71);
    color: white;
    border-radius: 10px;
}

.link {
    text-decoration: none;
    color: white;
}

.comcard {
    padding: 1rem;
}

.author {
    font-size: 22px;
    color: rgba(41, 23, 157, 0.71);
}

.comment {
    font-size: 20px;
    color: black;
}

.noComment {
    font-size: 20px;
    margin-top: 1rem;
}

.action {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

