.navbar {
    background-color: rgba(41, 23, 157, 0.71);
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    font-size: 1.3rem;
}

.link {
    text-decoration: none;
    color: rgba(14, 13, 13, 0.95);
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

.logo {
    font-size: 20px;
    color: white;
    margin: 4px
}