.card {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* Limit the width of the card */
    margin: auto; /* Center the card on the page */
}

.card img {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px;
    margin-bottom: 1rem;
}

.heading {
    font-size: 30px;
    color: rgba(41, 23, 157, 0.9);
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.content {
    font-size: 20px;
    color: black;
    margin-top: 1rem;
    line-height: 1.5; /* Improve readability with increased line height */
}

.pill {
    display: inline-block;
    padding: 8px 20px;
    background-color: rgba(41, 23, 157, 0.9);
    color: white;
    border-radius: 15px;
    margin-top: 1rem;
}

.link {
    text-decoration: none;
    color: rgba(41, 23, 157, 0.9);
}

.comcard {
    padding: 1rem;
    margin-top: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.author {
    font-size: 24px;
    color: rgba(42, 22, 155, 0.9);
    font-weight: bold;
}

.comment {
    font-size: 18px;
    color: black;
    margin-top: 1rem;
}

.noComment {
    font-size: 18px;
    margin-top: 1rem;
    color: rgba(41, 23, 157, 0.9);
}